.img-border img {
    width: 150px;
    display: inline-block;
    BORDER-RIGHT: #eee 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #eee 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #eee 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #eee 1px solid; BACKGROUND-COLOR: #f4f3fd
}
body {
    margin: 0px;
}
table {
    table-layout: fixed;
    width: 100%;
}
table th {
    font-weight: normal; 
    width: 250px;
}
.prof_img {
    border-radius: 50px;
}
.screen_name {
    font-size: 0.8em;
    color: #e0dede;
}
.lat_lon {
    font-size: 0.7em;
}
.source {
    font-size: 0.8em;
    color: #e6e6e6;
}
.source.instagram{
    color: #979797;
}
.source.foursquare{
    color: #ff9843;
}
.source.twitter{
    color: #0099ff;
}
.video_button{
    vertical-align: middle; 
}
.note{
    font-size: 0.7em;
    margin-top: 24px;
}
.router-link-active {
    color: rgb(255, 0, 0);
}
.comment_date{
    font-size: 0.7em;
    align-items: center;
}

.score_abst{
    background: orange;
    display: flex !important;
    position: fixed !important;
    width: 240px;
    height: 80px;
    top: 50px;
    right: 0px;
}

.team_font{
    font-weight: bolder;
    font-size: 0.7em;
}

.score_font{
    font-size: 1.5em;
}

.before_start_game_font{
    font-weight: bolder;
    font-size: 0.7em;
}

/* index css */
.baseball{
	margin: 1em auto;
	padding: 1em;
	width: 80%; /* ボックス幅 */
	color: rgb(0, 0, 0); /* 文章色 */
	box-shadow: 0 0 5px 1px #c0c0c0; /* 影 */
	border-radius: 10px; /* 角の丸み */
}

.Central{
    background-color: rgb(178, 252, 177); /* ボックス背景色 */
}

.Pacific{
    background-color: rgb(124, 209, 255); /* ボックス背景色 */
}

.Interleague{
    background-color: rgb(208, 225, 234); /* ボックス背景色 */
}

@media (min-width: 1200px) {
    span.left{
        /* display:inline-block; */
        font-size: 1.5em;
    }

    span.team-interval{
        margin-right: 8em;
    }

    span.center{
        text-align:center;
        font-size: 1.5em;
    }

    span.right{
        /* display:inline-block; */
        font-size: 1.5em;
    }

    span.score-interval-left{
        margin-right: 4em;
    }
    span.score-interval-right{
        margin-right: 4em;
    }
}

@media (max-width: 1199px) {
    span.left{
        /* display:inline-block; */
        font-size: 1em;
    }

    span.team-interval{
        margin-right: 4em;
    }

    span.center{
        text-align:center;
        font-size: 1em;
    }

    span.right{
        /* display:inline-block; */
        font-size: 1em;
    }

    span.score-interval-left{
        margin-right: 2em;
    }
    span.score-interval-right{
        margin-right: 2em;
    }
}

@media (max-width: 920px) {
    span.left{
        /* display:inline-block; */
        font-size: 0.8em;
    }

    span.team-interval{
        margin-right: 2em;
    }

    span.center{
        text-align:center;
        font-size: 0.8em;
    }

    span.right{
        /* display:inline-block; */
        font-size: 0.8em;
    }

    span.score-interval-left{
        margin-right: 1em;
    }
    span.score-interval-right{
        margin-right: 1em;
    }
}

@media (max-width: 640px) {
    span.left{
        /* display:inline-block; */
        font-size: 0.5em;
    }

    span.team-interval{
        margin-right: 2em;
    }

    span.center{
        text-align:center;
        font-size: 0.5em;
    }

    span.right{
        /* display:inline-block; */
        font-size: 0.5em;
    }

    span.score-interval-left{
        margin-right: 1em;
    }
    span.score-interval-right{
        margin-right: 1em;
    }
}